<ion-view view-title="Events">
  <ion-content>
    <div class="list">
      <div class="card ecard" ng-repeat="event in events">
        <div class="item item-avatar">
          <img ng-src="{{event.logo}}" class="logo">
          <h2>{{event.name}}</h2>
          <p>{{event.date}}</p>
          <p>{{event.venue}}</p>
          <p>{{event.startTime}} - {{event.endTime}}</p>
        </div>
        <div class="item item-body">
          <img class="full-image" src="{{event.image}}">
          <p>
            {{event.memo}}
          </p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-center bar bar-positive">
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
