<ion-view view-title="Grades">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">
        Semester 1 - 2015
      </ion-item>
      <ion-item>
        Introduction to Psychology
        <span class="item-note grade">
          A
        </span>
      </ion-item>
      <ion-item>
        Discrete Math
        <span class="item-note grade">
          C
        </span>
      </ion-item>

      <ion-item class="item-divider">
        Semester 2 - 2014
      </ion-item>
      <ion-item>
        College Algebra
        <span class="item-note grade">
          B
        </span>
      </ion-item>
      <ion-item>
        Applied Music
        <span class="item-note grade">
          C+
        </span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
