<ion-view view-title="Home">
  <ion-content class="home-content">
    <img ng-src="img/next-up.png" class="next-up-arrow">

    <div ng-controller="CourseCtrl">
      <div class="card class"  ng-repeat="course in courses">
        <div class="item item-text-wrap">
          <img ng-src="img/ribbon-grey.png" class="grey-arrow">
          <p class="courseCode">{{course.code}}</p>
          <p class="details">
            {{course.location}}
            <p ng-repeat="time in course.times|limitTo:1"> {{time.time}} </p>
          </p>
        </div>
      </div>
    </div>

    <div class="card event">
      <div class="item item-text-wrap date">
        <p class="month">
          March
        </p>
        <p class="date">
          9
        </p>
      </div>
      <div class="item item-text-wrap details">
        Another Event Twice Again
      </div>
    </div>

    <ion-list ng-controller="NewsCtrl">
      <a class="item item-icon-left item-icon-right repeated-item" ng-click="detail({{item}})" ng-repeat="item in items|limitTo:2" href="#app/news/news-item">
        <i ng-class='iconClass(item.category)'></i>
        <p class="list-item-header" ng-model="category">{{item.category}}</p>
        <p class="list-item-title" ng-model="title">{{item.title}}</p>
        <i class="icon ion-ios-arrow-right news-arrow"></i>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
