<ion-view view-title="">
  <ion-content class="news-item">
    <div class="meta">
      <p class="category">MAIN NEWS</p>
      <p class="title">USC Gym Offers a Grand Prize for the Olympiad's Top Performer</p>
      <p class="sender">Mr. Leroy Pierre</p>
      <p class="date">February 18, 2015</p>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam neque enim, placerat eu leo quis, convallis iaculis turpis. Phasellus vitae sem vitae sem sagittis consectetur. Curabitur eu pharetra nibh. Integer sed faucibus ipsum. Ut convallis auctor placerat.
      Vestibulum rutrum dapibus ligula sit amet vulputate.
    </div>
  </ion-content>
</ion-view>