<ion-view view-title="News">
  <ion-content>
    <ion-list>
      <a class="item item-icon-left item-button-right" href="#app/news/news-item">
        <i class="icon ion-ios-person-outline"></i>
        <p class="list-item-header">CAFETERIA</p>
        <p class="list-item-title">Meal Plans</p>
        <button class="button button-icon ion-ios-arrow-right news-arrow"></button>
      </a>

      <a class="item item-icon-left item-button-right" href="#app/news/news-item">
        <i class="icon ion-ios-person-outline"></i>
        <p class="list-item-header">GYM</p>
        <p class="list-item-title">Gym closes...</p>
        <button class="button button-icon ion-ios-arrow-right news-arrow"></button>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
