<ion-view view-title="News">
  <ion-content> 
    <ion-list>
      <a class="item item-icon-left item-button-right" href="#app/news/news-item">
        <i class="icon ion-fork"></i>
        <p class="list-item-header">CAFETERIA</p>
        <p class="list-item-title">Student Riots on campus</p>
        <button class="button button-icon ion-ios-arrow-right news-arrow"></button>
      </a>

      <a class="item item-icon-left item-button-right" href="#app/news/news-item2">
        <i class="icon ion-ios-body-outline"></i>
        <p class="list-item-header">SPED GYM</p>
        <p class="list-item-title">Win a 1-yr gym membership</p>
        <button class="button button-icon ion-ios-arrow-right news-arrow"></button>
      </a>
      
      <a class="item item-icon-left item-button-right" href="#app/news/news-item3">
        <i class="icon ion-iphone"></i>
        <p class="list-item-header">USC MDT 2015</p>
        <p class="list-item-title">USC Launches MDT Program</p>
        <button class="button button-icon ion-ios-arrow-right news-arrow"></button>
      </a>
       
      <a class="item item-icon-left item-button-right" href="#app/news/news-item4">
        <i class="icon ion-card"></i>
        <p class="list-item-header">STUDENT DEVELOPMENT</p>
        <p class="list-item-title">Financial pressures of 2015</p>
        <button class="button button-icon ion-ios-arrow-right news-arrow"></button>
      </a>
    </ion-list>
  </ion-content>
</ion-view>

<!--  -->