<ion-view view-title="Schedule">

  <ion-content class="schedule-page">
    <div class="separator"></div>

    <div class="dateBlock">
      <img ng-src="img/schedule.jpg" class="image">
      <p class="date">
        {{date}}
      </p>
      <p class="day">
         {{day}}
      </p>
      <p class="month">
        {{month}} {{year}}
      </p>
    </div>

    <ion-list class="events">
      <div class="itemBlock" ng-repeat="course in courses">
        <div class="circle"></div>
        <a class="item schedule-item" ng-click="courseInfo({{course}})">
            <p class="time" ng-repeat="time in course.times">
              {{time.time}}
            </p>
          {{course.name}}
        </a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
