<ion-view view-title="Settings">
  <ion-content>
    <div id="name-block">
      <div id="names">
        <p id="first">Kerilius</p>
        <p id="last">Leslie</p>
      </div>
      <div id="settings-ribbon">
        <img ng-src="img/ribbon-grey.png">
      </div>
    </div>

    <ion-list>
      <!--  Account-->
      <ion-item class="item-divider">
        Account
      </ion-item>
      <a class="item item-icon-left item-button-right" href="#app/settings/profile">
        <i class="icon ion-ios-person-outline"></i> Profile
        <button class="button button-icon ion-ios-arrow-right"></button>
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-key"></i> Sign out
      </a>
      <!--  General-->
      <ion-item class="item-divider">
        General
      </ion-item>
      <div class="item item-icon-left item-toggle" href="#">
        <i class="icon ion-ios-volume-high"></i> Sounds
        <label class="toggle toggle-positive">
          <input type="checkbox" checked="">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <!--  Other-->
      <ion-item class="item-divider">
        Other
      </ion-item>
      <a class="item item-icon-left item-button-right">
        <i class="icon ion-ios-lightbulb-outline"></i> About
        <button class="button button-icon ion-ios-arrow-right"></button>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
